/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Square&display=swap");

/* Variables */
:root {
  --color-green: #64dd17;
  --color-green-dark: #004d40;
  --color-orange: #ff9800;
  --color-red: #f44336;
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-dark: #212121;
  --color-grey-dark: #263238;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-dark);
}

.container {
  max-width: 1200px;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-white);
}

.box-btn {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: fit-content;
}

.box-btn .btn {
  padding: 10px 15px;
  border-radius: 10px;
  appearance: none;
  border: none;
}

.box-btn :not(.btn:disabled) {
  cursor: pointer;
  background: var(--color-green-dark);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.box-btn :not(.btn:disabled):hover {
  transform: scale(0.95);
}

.box-btn .btn:disabled {
  cursor: not-allowed;
  background: var(--color-grey-dark);
  color: var(--color-white-transparent);
}

.container-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.box {
  padding: 15px;
  border: solid var(--color-white) 1px;
  border-radius: 1rem;
}

.board {
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.traffic-light {
  padding: 15px 10px;
  width: 50px;
  background-color: var(--color-dark);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.traffic-light::after {
  content: "";
  background-color: var(--color-dark);
  width: 18px;
  height: 30px;
  bottom: -30px;
  left: calc(50% - 9px);
  position: absolute;
}

.light {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.2;
}

.light.active {
  opacity: 1;
}

.light.red-light {
  background-color: var(--color-red);
}

.light.red-light.active {
  filter: drop-shadow(0 0 0.75rem var(--color-red));
}

.light.orange-light {
  background-color: var(--color-orange);
}

.light.orange-light.active {
  filter: drop-shadow(0 0 0.75rem var(--color-orange));
}

.light.green-light {
  background-color: var(--color-green);
}

.light.green-light.active {
  filter: drop-shadow(0 0 0.75rem var(--color-green));
}

/* .micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

@media (max-width: 540px) {
  .container-box {
    grid-template-columns: 1fr;
  }
}
